<%-include('./partials/header')%>
<body>
    <div class="container_body">
        <%-include('./partials/navbar')%>
        <div id="text">
            <div>
                <%-include('./partials/sidebar')%>
            </div>
            <div>
                <%-include('./partials/img_main')%>
                <%-include('./partials/form_main')%>
                <%-include('./partials/container_text')%>
            </div>
            <div>
                <%-include('./partials/sidebar')%>
            </div>
        </div>
        <%-include('./partials/footer')%>
    </div>
</body>
    <script src="./js/index2.js"></script>
</html>